<!DOCTYPE html>
<html>
    <head>
        <%- include("./head.ejs") %>
    </head>
    <body>
        <div>
            <div>
                이메일
                <input type="text" class="form-control">
            </div>
            <div>
                비밀번호
                <input type="text" class="form-control">
            </div>
            <button class="btn btn-primary">로그인</button>
            <button class="btn btn-primary" onclick="location.href='/signup'">회원가입</button>
            <div>
                <span>아이디 찾기</span>
                <span>비밀번호 찾기</span>
            </div>
        </div>
    </body>
</html>

<style>
    
</style>