<!doctype html>
<html lang="en">
  <head>
    
    <%- include("./head.ejs")%>
    <!-- Custom styles for this template -->
    <link href="../css/signin.css" rel="stylesheet">

    <script>
      function login(){
        location.href="/"
      }
    </script>

  </head>
  <body>
    <div class="joinForm" >                                                                    
      <h2>회원가입</h2>
      <div class="textForm form-floating">
        <div class="text" >이메일</div>
        <input type="text" id="email" class="input form-control is-invalid" >
        <button class="btn btn-outline-secondary" 
        style=" margin-left: 20px; margin-top: 10px; height: 35px; padding: 0 10px" id="email_check">중복확인</button>
        <div class="about" id="email_text" style="visibility: hidden;">.</div>
      </div>
      <div class="textForm form-floating">
        <div class="text">비밀번호</div>
        <input type="password" class="input form-control password is-invalid " id="pw">
        <br><div class="about">8~20자 영문자,숫자,특수기호(~,!,@,#,?)로 조합하세요</div>
      </div>
       <div class="textForm form-floating">
        <div class="text">비밀번호 확인</div>
        <input type="password" class="input form-control password is-invalid" id="pw_check">
        <br><div class="about" style="visibility: hidden;">비밀번호가 일치하지 않습니다.</div>
      </div>
      <div class="textForm">
        <div class="text">닉네임</div>
        <input type="text" class="input form-control" id="name">
        <br><div class="about" style="visibility: hidden;" id="name_check">.</div>
      </div>
      <div style="width : 100%;margin : 0 auto">
        <button id="signup" style="display: block; margin : auto" disabled>회원가입</button>
      </div>
    </div>
  </body>
</html>

<script>
  $("#email").keyup(function(){
    $("#email_text").html(".").css("visibility", "hidden")
    $(this).removeClass("confirm")
  })

  $(".password").keyup(function(){
    var p = $("#pw").val()
    var pc = $("#pw_check").val()

    p.length>7 && p.length<21 && /[a-zA-Z]/.test(p) && /[0-9]/.test(p) &&
    (p.includes("~")||p.includes("!")||p.includes("@")||p.includes("#")||p.includes("?"))
      ?$("#pw").removeClass("is-invalid").addClass("confirm")
      :$("#pw").removeClass("confirm").addClass("is-invalid")

    
    p==pc && pc.length>0
      ? $("#pw_check").removeClass("is-invalid").addClass("confirm") 
      : $("#pw_check").removeClass("confirm").addClass("is-invalid")
  })
  

  $("#email_check").click(function(){
    var e = $("#email").val()
    var reg = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i
    if (reg.test(e)){
      $.getJSON("/user/signup/email_check",{
        email : e
      },
      function(result){
        if(result.check.length>0){
          $("#email_text").html("중복된 이메일입니다.").css("visibility", "")
          $("#email").removeClass("confirm").addClass("is-invalid")
        }else{
          $("#email_text").html("사용 가능한 이메일입니다.").css("visibility", "")
          $("#email").removeClass("is-invalid").addClass("confirm")
          $("#email").is(".confirm") && $("#pw").is(".confirm")
          && $("#pw_check").is(".confirm") && $("#name").is(".confirm")
            ? $("#signup").removeAttr("disabled")
            : $("#signup").attr("disabled", "disabled")
        }
        
      })
    }else{
      $("#email").removeClass("confirm").addClass("is-invalid")
      $("#email_text").html("이메일 형식이 아닙니다.").css("visibility", "")
    }

    
  })

  $("#name").blur(function(){
    var name = $(this).val()
    if (name){
      $.getJSON("/user/signup/name_check",{name : name},
      function(result){
        if (result.check.length==0){
          $("#name_check").html("사용 가능한 닉네임입니다.").css("visibility", "")
          $("#name").removeClass("is-invalid").addClass("confirm")
          $("#email").is(".confirm") && $("#pw").is(".confirm")
          && $("#pw_check").is(".confirm") && $("#name").is(".confirm")
            ? $("#signup").removeAttr("disabled")
            : $("#signup").attr("disabled", "disabled")
        }else{
          $("#name_check").html("중복된 닉네임입니다.").css("visibility", "")
          $("#name").removeClass("confirm").addClass("is-invalid")
          $("#signup").attr("disabled", "disabled")
        }
      })
    }else{
      $("#name_check").css("visibility", "hidden")
      $("#name").removeClass("confirm").addClass("is-invalid")
    }
    
  })
  
  $("input").keyup(function(){
    $("#email").is(".confirm") && $("#pw").is(".confirm")
    && $("#pw_check").is(".confirm") && $("#name").is(".confirm")
      ? $("#signup").removeAttr("disabled")
      : $("#signup").attr("disabled", "disabled")
  })

  $("#signup").click(function(){
    e = $("#email").val()
    p = $("#pw").val()
    n = $("#name").val()
    $.post("/user/signup/appro",{
      e : e,
      p : p,
      n : n
    },function(result){
      location.href="/user/login"
    })
  })
</script>

<style>
  .form-control {
    padding: 0 10px;
  }

  .form-floating>.form-control:focus,
  .form-floating>.form-control:not(:placeholder-shown) {
    padding: 0 10px;
  }

  .form-floating>.form-control,
  .form-floating>.form-select {
    height: 35px;
  }

  .form-floating>.form-control {
    padding: 0;
  }

  .about {
    margin-top : 10px;
    margin-left: 170px;
    font-size: 12px;
    height: 40px;
  }

  * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;

  }

  body {
    background-color: #f9f9f9;
  }

  .joinForm {
    position: absolute;
    width: 500px;
    height: 650px;
    padding: 30px, 20px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }

  .joinForm h2 {
    text-align: center;
    margin: 50px 30px;
  }

  .textForm {
    border-bottom: 2px solid #adadad;
    margin: 20px 20px;
    line-height: 40px;
  }

  .text {
    width: 25%;
    float: left;
    text-align: right;
    font-size: 15px;
  }

  .input {
    margin-left: 10%;
    margin-top: 10px;
    width: 40%;
    font-size: 14px;
    height: 35px;
    float: left;
    font-size: 13px;
  }

  .confirm {
    border-color: green;
  }

  #signup {
    position:relative;
    left:35%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:70%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }

  .btn:hover {
    background-position: right;
  }
</style>